@import 'styles/functions';
@import 'styles/mixins';
@import 'styles/variables';

.standfirst {
  background-color: $c-black;
  color: $c-white;
  padding-top: u(1.5);
  padding-bottom: u(2);

  @include media('>=tablet') {
    padding-top: u(3);
    padding-bottom: u(3.5);
  }
}

.standfirst__container {
  @include max-width;
}

.standfirst__titles {
  margin-bottom: u(2.5);

  >h2 {
    margin-bottom: u(2.5);
  }
}

.standfirst__sticky {
  position: relative;
}

.standfirst__sticky--active {
  position: sticky;
  z-index: 10;
  top: $mobile-header-height;

  >h2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  @include media('>=tablet') {
    top: $tablet-header-height;
  }

  @include media('>=desktop') {
    top: $desktop-header-height;
  }
}
