@import 'styles/functions';
@import 'styles/mixins';
@import 'styles/variables';

.standfirst {
  background-color: $c-black;
  color: $c-white;
  padding-top: u(1.5);
  padding-bottom: u(2);

  @include media('>=tablet') {
    padding-top: 0;
    padding-bottom: u(3.5);
  }
}

.standfirst__container {
  @include max-width;
}

.standfirst__titles {
  >h2>* {
    margin-bottom: u(2.5);

    @include media('>=tablet') {
      margin-bottom: u(1);
    }
  }
}

.standfirst__sticky--active {
  position: fixed;
  top: $mobile-header-height;
  left: 0;
  z-index: 10;
  background-color: $c-black;
  width: 100%;

  >h2 {
    padding-bottom: u(2);
    @include max-width;
  }

  @include media('>=tablet') {
    top: $tablet-header-height;

    >h2 {
      padding-bottom: u(3.5);
    }
  }

  @include media('>=desktop') {
    top: $desktop-header-height;
  }
}
