@import 'styles/functions';
@import 'styles/type';
@import 'styles/variables';

.project-list {
  color: $c-type;
}

.project-list__year {
  @include t-menu-head;
  margin-bottom: u(3);

  @include media('>=tablet') {
    margin-bottom: u(4.5);
  }
}

.project-list__year__list {
  @include media('>=tablet') {
    margin-top: u(0.5);
  }
}

.project-list__year__link {
  @include t-menu-item;
  text-decoration: none;
  position: relative;

  &:hover::after,
  &:focus::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: u(0.5);
    bottom: -2px;
    background-color: $c-blue;
  }
}
