@import 'styles/functions';
@import 'styles/variables';

.loader {
  position: relative;
  border: u(0.25) solid transparent;
  border-top-color: $c-blue;
  border-left-color: $c-blue;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.loader::before {
  position: absolute;
  top: u(0.75);
  left: u(0.75);
  right: u(0.75);
  bottom: u(0.75);
  content: '';
  border: u(0.25) solid transparent;
  border-top-color: $c-blue;
  border-left-color: $c-blue;
  border-radius: 50%;
  animation: spinBack 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinBack {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-720deg);
  }
}
