.article__meta-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.article__meta-item {
  line-height: 1.6em;
}

.article__meta-item:nth-child(odd) {
  line-height: 1.2em;
}

.article__meta-item:nth-child(even) {
  margin-bottom: 12px;
}

.article__meta-label {
  font-size: 0.8em;
  font-weight: 600;
}

@include media('>=desktop') {
  .article__meta-item {
    line-height: 2em;
  }

  .article__meta-item:nth-child(odd) {
    line-height: 1em;
  }
}
