{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "next/babel"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "preprocess": false
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-remove-console", { "exclude": ["error"] }],
        "transform-react-remove-prop-types"
      ]
    }
  }
}
