{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["react", "prettier", "react-hooks", "import"],
  "rules": {},
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
