@import 'styles/functions';
@import 'styles/variables';

.home {
  padding-top: $mobile-header-height;

  >.project-list {
    margin-top: u(2.5);
  }

  @include media('>=tablet') {
    padding-top: $tablet-header-height;

    >.project-list {
      margin-top: u(3);
    }
  }

  @include media('>=desktop') {
    padding-top: $desktop-header-height;

    >.project-list {
      margin-top: u(5);
    }
  }
}
