@import 'styles/functions';
@import 'styles/mixins';
@import 'styles/variables';

.project {
  width: 100%;
  padding-top: u(8);

  display: grid;
  grid-template-columns: [left-col] u(2) [centered] auto u(2) [right-col];

  @include media('<tablet') {
    > * {
      grid-column: centered;
    }
  }

  > .project__fullwidth,
  .project__inline,
  .project__multiple {
    grid-column: left-col / right-col;
  }

  @include media('>=tablet') {
    padding-top: u(11);
    grid-template-columns: [left-col] u(1) repeat(6, 1fr) u(1) [right-col];
    grid-column-gap: u(4);

    > .project__title {
      grid-column: 2 / 8;
    }

    > .project__meta {
      grid-column: 2 / 6;
    }

    > .project__standfirst {
      grid-column: 2 / 7;
    }

    > .project__text__body,
    .project__text__head {
      grid-column: 2 / 5;
    }

    > .project__url {
      grid-column: 1 / 8;
      margin: 0;
      align-self: flex-end;
      justify-self: flex-end;
    }
  }

  @include media('>=desktop') {
    padding-top: u(7);
    grid-template-columns: [left-col] u(6) repeat(12, 1fr) u(6) [right-col];
    grid-column-gap: u(4);
    max-width: $max-width + 80px;
    margin: 0 auto;
  }
}

.project__inline {
  .project__text__body + & {
    position: relative;
    z-index: -10;
    margin-top: u(-7);
  }

  & + .project__text__head {
    margin-top: u(-5);
  }

  @include media('>=tablet') {
    .project__text__body + & {
      position: relative;
      z-index: -10;
      margin-top: u(-16);
    }

    & + .project__text__head {
      margin-top: u(-8);

      & + .project__text__body {
        margin-top: u(-1);
      }
    }
  }
}

.project__multiple {
  .project__text__body + & {
    position: relative;
    z-index: -10;
    margin-top: u(-7);

    @include media('>=tablet') {
      margin-top: u(-16);
    }
  }
}

.project__title {
  margin-top: u(2.5);
  color: $c-black;

  @include media('>=tablet') {
    margin-top: u(5);
  }
}

.project__meta {
  margin-top: u(4.5);

  @include media('>=tablet') {
    margin-top: u(8);
  }
}

.project__standfirst {
  margin: u(4) 0;

  & + .project__text__head {
    margin-top: 0;
  }

  @include media('>=tablet') {
    margin-top: u(9);
    margin-bottom: u(8);
  }
}

.project__text__head {
  margin-top: u(4);

  @include media('>=tablet') {
    margin-top: u(8);
  }
}

.project__text__body {
  margin-bottom: u(4);

  @include media('>=tablet') {
    margin-bottom: u(8);
  }
}

.project__url {
  margin-top: u(0.5);
  justify-self: flex-start;

  .project__inline + &,
  .project__multiple + &,
  .project__fullwidth + & {
    margin-top: u(4.5);
  }
}
