@import "styles/functions";
@import "styles/mixins";
@import "styles/variables";

.project {
  width: 100%;
  padding-top: u(8);

  display: grid;
  grid-template-columns: [left-col] u(2) [centered] auto u(2) [right-col];

  >* {
    grid-column: centered;
  }

  >.project__fullwidth,
  .project__inline,
  .project__multiple {
    grid-column: left-col / right-col;
  }

  @include media(">=tablet") {
    padding-top: u(11);
    grid-template-columns: [left-col] u(1) repeat(6, 1fr) u(1) [right-col];
    grid-column-gap: u(4);
  }
}

.project__inline {
  .project__text__body+& {
    position: relative;
    z-index: -10;
    margin-top: u(-7);
  }

  &+.project__text__head {
    margin-top: u(-5);
  }
}

.project__multiple {
  .project__text__body+& {
    position: relative;
    z-index: -10;
    margin-top: u(-7);
  }
}

.project__title {
  margin-top: u(2.5);
  color: $c-black;
}

.project__meta {
  margin-top: u(4.5);
}

.project__standfirst {
  margin: u(4) 0;

  &+.project__text__head {
    margin-top: 0;
  }
}

.project__text__head {
  margin-top: u(4);
}

.project__text__body {
  margin-bottom: u(4);
}

.project__url {
  margin-top: u(0.5);
  justify-self: flex-start;

  .project__inline+&,
  .project__multiple+&,
  .project__fullwidth+& {
    margin-top: u(4.5);
  }
}
