@import 'styles/functions';
@import 'styles/mixins';
@import 'styles/type';
@import 'styles/variables';

.info-modal {
  background-color: $c-black;
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: $c-white;
  padding-top: u(8);

  @include media('>=tablet') {
    padding-top: u(11);
  }
}

.info-modal__inner {
  @include max-width;
  padding: 0 u(2);
  margin-top: u(2);
  margin-bottom: u(6);

  @include media('>=tablet') {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: u(4);
    padding: 0 u(5);
    margin-top: u(5);
    margin-bottom: u(7);
  }

  @include media('>=desktop') {
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: u(4);
    padding: 0 u(10);
    margin-top: u(7);
    margin-bottom: u(9);
  }
}

.info-modal__titles {
  > h2 {
    @include t-h3;

    > span {
      display: block;
    }
  }

  @include media('>=tablet') {
    grid-column: span 6;
  }

  @include media('>=desktop') {
    grid-column: span 7;
  }
}

.info-modal__colab {
  margin-top: u(5);
  max-width: 328px;

  a {
    font-weight: 600;
  }

  @include media('>=tablet') {
    grid-column: 1 / 4;
    margin-top: u(8);
  }

  @include media('>=desktop') {
    margin: 0;
    max-width: 352px;
    position: fixed;
    bottom: u(9);
    right: $d-desktop-page-gutter;
  }

  @media (min-width: $max-width) {
    right: calc(#{$d-desktop-page-gutter / 2} + ((100vw - #{$max-width}) / 2));
  }
}

.info-modal__colab__title {
  color: white !important;

  & + * {
    background-color: white !important;
  }
}
