@import 'styles/functions';
@import 'styles/mixins';
@import 'styles/variables';

.play {
  position: relative;
}

.play__bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
}

.play__card {
}
