@font-face {
  font-family: 'Surt';
  src: url('/fonts/Surt-Light.eot') format('embedded-opentype'),
    url('/fonts/Surt-Light.woff') format('woff'),
    url('/fonts/Surt-Light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Surt';
  src: url('/fonts/Surt-Regular.eot') format('embedded-opentype'),
    url('/fonts/Surt-Regular.woff') format('woff'),
    url('/fonts/Surt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Surt';
  src: url('/fonts/Surt-Medium.eot') format('embedded-opentype'),
    url('/fonts/Surt-Medium.woff') format('woff'),
    url('/fonts/Surt-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Surt';
  src: url('/fonts/Surt-Bold.eot') format('embedded-opentype'),
    url('/fonts/Surt-Bold.woff') format('woff'),
    url('/fonts/Surt-Bold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Surt';
  src: url('/fonts/Surt-Black.eot') format('embedded-opentype'),
    url('/fonts/Surt-Black.woff') format('woff'),
    url('/fonts/Surt-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
