@import "./fonts.scss";
@import "./variables.scss";

@mixin font-surt($size, $line-height, $weight: 400, $style: normal, $text-transform: none) {
    font-family: "Surt", Arial, san-serif;
    font-size: $size * 1px;
    font-weight: $weight;
    line-height: $line-height * 1px;
    font-style: $style;
    text-transform: $text-transform;
}

@mixin t-h1 {
    @include font-surt(44, 56, 500);

    @include media(">=tablet") {
        font-size: 64px;
        line-height: 80px;
    }

    @include media(">=desktop") {
        font-size: 80px;
        line-height: 96px;
    }
}

@mixin t-h2 {
    @include font-surt(26, 36, 500);

    @include media(">=tablet") {
        font-size: 36px;
        line-height: 64px;
    }

    @include media(">=desktop") {
        font-size: 40px;
        line-height: 64px;
    }
}

@mixin t-h3 {
    @include font-surt(20, 32, 400);

    @include media(">=tablet") {
        font-size: 28px;
        line-height: 44px;
    }

    @include media(">=desktop") {
        font-size: 32px;
        line-height: 48px;
    }
}

@mixin t-h4 {
    @include font-surt(14, 24, 800);

    @include media(">=tablet") {
        font-size: 16px;
        line-height: 24px;
    }
}

@mixin t-body {
    @include font-surt(16, 24, 400);

    @include media(">=tablet") {
        font-size: 20px;
        line-height: 32px;
    }
}

@mixin t-small-body {
    @include font-surt(14, 20, 400);

    @include media(">=tablet") {
        font-size: 16px;
        line-height: 24px;
    }
}

@mixin t-menu-head {
    @include font-surt(14, 14, 900);

    @include media(">=tablet") {
        font-size: 16px;
        line-height: 16px;
    }
}

@mixin t-menu-item {
    @include font-surt(18, 36, 400);

    @include media(">=tablet") {
        font-size: 24px;
        line-height: 40px;
    }
}

@mixin t-footer {
    @include font-surt(18, 36, 500);
}

@mixin t-captions {
    @include font-surt(12, 20, 500);

    @include media(">=tablet") {
        font-size: 14px;
        line-height: 26px;
    }
}

@mixin t-site-header {
    @include font-surt(26, 36, 500);

    @include media(">=tablet") {
        font-size: 40px;
    }
}

@mixin t-site-nav {
    @include font-surt(18, 24, 500);

    @include media(">=tablet") {
        font-size: 20px;
    }
}
