@import 'styles/functions';
@import 'styles/variables';

.site__header {
  width: 100%;
  background-color: $c-black;
  padding: u(2);
  position: fixed;
  top: 0px;
  z-index: 20;

  @include media('>=tablet') {
    padding: u(3) u(4);
  }

  @include media('>=desktop') {
    padding: u(4) u(7);
  }
}
