@import 'styles/variables';

.site__header {
  width: 100%;
  background-color: $c-black;
  padding: 16px;
  position: fixed;
  top: 0px;
  z-index: 20;

  @include media('>=tablet') {
    padding: 24px 32px;
  }

  @include media('>=desktop') {
    padding: 32px 56px;
  }
}
