@import 'styles/functions';
@import 'styles/mixins';
@import 'styles/variables';

.card {
  color: $c-white;
  width: 100%;
  z-index: 0;
  display: block;
  overflow: hidden;
  position: relative;

  .card__image {
    transition: transform 500ms ease-out;
    transform-origin: center;
  }

  &:hover {
    .card__image {
      transform: scale(1.05);
    }
  }
}

.card--home {
  @include aspect-ratio(5, 4) {
    width: 100%;
    height: 100%;
  }
  padding: u(1.5);

  > .card__meta {
    position: absolute;
    top: u(1.5);
    left: u(1.5);
    z-index: 10;

    > span {
      margin-bottom: u(0.5);
    }

    > h3.t-h2 {
      font-weight: 800;
    }
  }

  > .card__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @include media('>=tablet') {
    padding: u(2);

    > .card__meta {
      top: u(2);
      left: u(2);

      > span {
        font-size: 16px;
        margin-bottom: 0;
      }
    }
  }

  @include media('>=desktop') {
    padding: u(4);

    > .card__meta {
      top: u(4);
      left: u(4);

      > span {
        margin-bottom: u(1.5);
      }
    }
  }
}

.card--pagi {
  height: 200px;
  padding: u(2);

  .card__meta {
    > span {
      display: block;
      margin-bottom: u(0.75);
    }

    > h3.t-h4 {
      font-size: 16px;
    }
  }

  .card__image {
    width: calc(80% - 32px);
    position: absolute;
    z-index: -10;
    bottom: 0;
  }

  @include media('>=tablet') {
    padding: u(4);

    .card__meta > span {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: u(1.5);
    }

    .card__image {
      width: 62.5%;
    }
  }

  @include media('>=desktop') {
    .card__container {
      width: 528px;
    }

    .card__meta {
      margin-top: u(3);
    }

    .card__image {
      position: relative;
      bottom: 32px;
      width: 323px;
    }
  }
}

.card--next {
  .card__meta {
    float: right;
    text-align: right;
  }

  .card__image {
    left: u(2);
  }

  @include media('>=desktop') {
    .card__container {
      float: left;
    }

    .card__image {
      left: 0;
      float: left;
    }
  }
}

.card--prev {
  .card__meta {
    float: left;
    text-align: left;
  }
  .card__image {
    right: u(2);
  }

  @include media('>=desktop') {
    .card__container {
      float: right;
    }

    .card__image {
      right: 0;
      float: right;
    }
  }
}

.card--full-width {
  &:hover {
    .card__image {
      transform: translate(-50%, -50%) scale(1.05);
    }
  }

  .card__image {
    width: 100%;
    bottom: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  @include media('>=desktop') {
    .card__image {
      position: absolute;
    }
  }
}
