@import 'styles/mixins';
@import 'styles/functions';
@import 'styles/variables';

.fullwidthimage {
  width: 100%;
  display: block;
}

.fullwidthimage__image {
  @include aspect-ratio(3, 2) {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  max-height: 600px;
  overflow: hidden;
  background-color: $c-foot-bg;
}

.fullwidthimage__caption {
  margin: u(0.5) u(2) 0 u(2);

  @include media('>=tablet') {
    margin: u(1) u(5) 0 u(5);
  }

  @include media('>=desktop') {
    margin: u(1) u(4) 0 u(4);
  }
}
