@import 'styles/mixins';
@import 'styles/variables';
@import 'styles/functions';

.foot {
  background-color: $c-foot-bg;
  padding-bottom: u(4);
  padding-top: u(2);
  width: 100%;
  margin-top: u(6);

  @include media('>=tablet') {
    padding-top: u(3);
    padding-bottom: u(4);
  }

  @include media('>=desktop') {
    padding-top: u(3);
    padding-bottom: u(4);
  }
}

.foot__list {
  @include max-width;

  @include media('>=tablet') {
    display: flex;
  }
}

.foot__item+.foot__item {
  @include media('>=tablet') {
    margin-left: u(5);
  }
}

.foot__anchor {
  text-decoration: none;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transition: width 300ms ease-out;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    bottom: 2px;

    &:after {
      bottom: -2px;
    }
  }

  &--orange {
    &:after {
      background-color: $c-orange;
    }
  }

  &--blue {
    &:after {
      background-color: $c-blue;
    }
  }

  &--red {
    &:after {
      background-color: $c-red;
    }
  }

  &--green {
    &:after {
      background-color: $c-green;
    }
  }
}
