const ArticleGrid=styled.div` display: grid;
grid-template-columns: [full-start] 16px [main-start] auto [main-end] 16px [full-end];
padding-top: 64px;

p,
ul {
  grid-column: main;
}

section {
  grid-column: full;
}

.article__meta {
  margin-top: 16px;
}

@media (min-width: 768px) {
  padding-top: 72px;
  grid-template-columns: [full-start] 66px [main-start] auto [main-end] 66px [full-end];

  .article__meta {
    margin-top: 24px;
  }
}

@media (min-width: 1280px) {
  grid-template-columns: [full-start] 111px [main-start] auto [main-end] 111px [full-end];
  padding-top: 88px;

  .article__meta {
    margin-top: 32px;
  }
}

`;

const ImageContainer=styled.section` width: 100%;
padding: 20px 16px;

background-color: $ {
  PALETTE.photoBackground
}

;
margin: 12px 0px;

@media (min-width: 768px) {
  padding: 24px 66px 32px 66px;
  margin: 40px 0px;
}

@media (min-width: 1280px) {
  padding: 32px 111px 40px 111px;
}

`;

const CarouselContainer=styled.div` margin: 24px 0px;

&:first-child {
  margin-top: 0px;
}

&:last-child {
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  margin: 32px 0px;
}

@media (min-width: 1280px) {
  margin: 40px 0px;
}

`;

const Image=styled.img` max-width: 100%;
height: auto;

@media (min-width: 1280px) {
  max-width: calc(((100% - (13 * 16px)) / 14) * 13);
  display: block;
}

`;

const Paragraph=styled.p` margin: 12px 0px;

&.standfirst {
  color: #333333;
  font-weight: 200;
  font-size: 20px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  margin: 16px 0px;

  &.standfirst {
    /* margin-top: 32px; */
  }
}

@media (min-width: 1280px) {
  max-width: 576px;

  &.standfirst {
    font-size: 28px;
    line-height: 44px;
    margin-top: 32px;
    margin-bottom: 40px;
  }
}

`;

const Url=styled.h3` grid-column: main;
margin: 12px 0px;

a {
  border-left: solid 2px $ {
    PALETTE.green
  }

  ;
  padding: 0px 0px 2px 4px;
}

@media (min-width: 768px) {
  margin: 16px 0px 40px 0px;

  a {
    padding: 0px 0px 2px 6px;
  }
}

@media (min-width: 1280px) {
  font-size: 2.6rem;

  a {
    border-left: solid 4px $ {
      PALETTE.green
    }

    ;
  }
}

`;

const IFrameSection=styled(ImageContainer)` @media (min-width: 1280px) {
  padding: 0px;
  padding-left: 111px;
}

`;

const IFrameContainer=styled.div` overflow: hidden;
padding-top: 56.25%;
position: relative;
`;

const IFrame=styled.iframe` border: 0;
height: 100%;
left: 0;
position: absolute;
top: 0;
width: 100%;

@media (min-width: 1280px) {
  max-width: calc(((100% - (13 * 16px)) / 14) * 13);
}

`;
