@import 'styles/variables';

.select__wrapper {
  display: block;

  @include media('>=desktop') {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 74px;
  }
}

.select {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }

  @include media('>=desktop') {
    justify-content: flex-start;
  }
}

// this should be unstyled through globals
.select__button {
  margin-left: 16px;
  border: none;
  padding: 0px;
  background-color: transparent;
}
