.applicationWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 142px 5fr 71px;
  min-height: 100vh;
  width: 100%;
}

@media (min-width: 768px) {
  .applicationWrapper {
    grid-template-rows: 204px 7fr 102px;
    height: 100vh;
  }
}

@media (min-width: 1280px) {
  .applicationWrapper {
    padding: 16px 40px;
  }
}

@media (min-width: 1920px) {
  .applicationWrapper {
    grid-template-rows: 240px 7fr 120px;
    padding: 32px 64px;
  }
}
