@import 'styles/mixins.scss';

.image--loading {
  @include aspect-ratio(3, 2);
  display: block;
  background-color: rgba(255, 255, 255, 0.4);

  @include media('>=desktop') {
    .fullwidthimage & {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  }
}

.image__loader.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}
