@import 'styles/functions';
@import 'styles/mixins';
@import 'styles/variables';

.icon-button {
  @include unbutton;
  height: u(5);
  width: u(5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &:hover>svg,
  &:active>svg {
    fill: $c-blue;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($c-blue, 0.4);
  }
}
