@import './variables.scss';
@import './mixins.scss';
@import './functions.scss';
@import './type.scss';
@import './reset.scss';

html,
body {
  font-family: 'Surt', Arial, sans-serif;
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  margin: 0px;
  color: $c-type;
}

body * {
  box-sizing: border-box;
}

h1,
.t-h1 {
  @include t-h1;
}

h2,
.t-h2 {
  @include t-h2;
}

h3,
.t-h3 {
  @include t-h3;
}

h3,
.t-h4 {
  @include t-h4;
}

.t-body {
  @include t-body;
}

.t-small-body {
  @include t-small-body;
}

.t-foot {
  @include t-footer;
}

.t-caption {
  @include t-captions;
}

a {
  @include t-a;
}

.generic__section {
  @include max-width;
  display: grid;

  @include media('>=tablet') {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: u(4);
  }

  @include media('>=desktop') {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: u(4);
  }
}

.generic__text__ornament {
  @include ornament;
  margin: u(1) 0 u(2) 0;
}
