@import './variables.scss';

@mixin hide-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

@mixin hide-visually {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin unbutton {
  padding: 0;

  border: 0;
  border-radius: 0;
  outline: 0;

  background: transparent;

  cursor: pointer;
  color: inherit;
  text-align: inherit;
  appearance: none;
}
