@import '~include-media/dist/include-media';

$c-black: #1a1a1a;
$c-white: #fdfdfd;
$c-blue: #5da9e2;
$c-red: #ff6f85;
$c-orange: #f8a22d;
$c-green: #5fd16d;
$c-foot-bg: #e8e8e8;
$c-photo-bg: #f4f4f4;
