@import 'styles/functions';
@import 'styles/variables';

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: u(2);
}

.modal__button {
  border: none;
  padding: 0px;
  background-color: transparent;
  width: 48px;
  height: 48px;
  position: absolute;
  right: 0;
  top: 0;
}

.modal>*:first-child {
  animation: fall-in 250ms $easeOutSine;
}

@keyframes fall-in {
  0% {
    opacity: 0;
    transform: scale(1.15);
  }

  25% {
    opacity: 1;
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}
