@import 'styles/functions';
@import 'styles/mixins';
@import 'styles/type';
@import 'styles/variables';

.metadata {
  @include t-small-body;
  display: grid;
  grid-template-areas: 'client client role role''studio studio tech tech';
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: u(4);
  grid-column-gap: u(2);

  @include media('>=tablet') {
    grid-column-gap: u(4);
    grid-row-gap: u(7);
  }
}

.metadata__item {
  &:nth-child(1) {
    grid-area: client;
  }

  &:nth-child(2) {
    grid-area: studio;
  }

  &:nth-child(3) {
    grid-area: role;
  }

  &:nth-child(4) {
    grid-area: tech;
  }
}

.metadata__item__title {
  @include t-h4;
}

.metadata__ornament {
  @include ornament;
  margin: u(1) 0 u(2) 0;
}
