@import 'styles/functions';
@import 'styles/type';
@import 'styles/variables';

.menu {
  @include t-label;
  padding: u(2);
  padding-top: u(1);
  background-color: $c-black;
  width: 100%;
  // does this need a max-height?
  max-height: 440px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  overflow: scroll;
  z-index: 40;

  @include media('>=tablet') {
    padding: u(1) u(4) u(2.25) u(4);
    max-height: 528px;
  }

  @include media('>=desktop') {
    padding: u(1);
    position: relative;
    top: 0;
    width: calc(100% + 64px);
  }
}

.menu__year {
  margin: u(1.5) 0px;
  padding: u(1) 0;

  &--blue {
    border-top: solid 2px $c-blue;
  }

  &--orange {
    border-top: solid 2px $c-orange;
  }

  &--red {
    border-top: solid 2px $c-red;
  }

  &--green {
    border-top: solid 2px $c-green;
  }

  @include media('>=tablet') {
    margin: u(4) 0px;
  }

  @include media('>=desktop') {
    margin: u(2)
  }
}

.menu__year__list {
  @include t-footer;
}

.menu__year__link {
  text-decoration: none;
  color: $c-white;
  display: block;

  @include media('>=tablet') {
    font-size: 26px;
  }
}
