@import 'styles/functions';
@import 'styles/type';
@import 'styles/variables';

$d-desk-width: 464px;

.menu {
  background-color: $c-black;
  max-height: $d-menu-max-height;
  padding: u(3) u(2);
  width: 100%;

  @include media('>=tablet') {
    width: $d-desk-width;
    padding: u(3) u(4);
  }
}

.menu__list {
  max-height: $d-menu-max-height - u(6);
  overflow: scroll;

  >li:last-child {
    margin-bottom: u(-2);
  }
}

.menu__year {
  @include t-menu-head;
  color: $c-white;
  padding-top: u(1);

  &--blue {
    border-top: solid 2px $c-blue;
  }

  &--orange {
    border-top: solid 2px $c-orange;
  }

  &--red {
    border-top: solid 2px $c-red;
  }

  &--green {
    border-top: solid 2px $c-green;
  }
}

.menu__year__list {
  margin-bottom: u(2);
}

.menu__year__link {
  @include t-menu-item;
  text-decoration: none;

  &:focus {
    outline: 0;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      height: u(0.5);
      width: 100%;
      background-color: $c-orange;
      bottom: -2px;
      left: 0;
      transition: width 500ms $easeOutQuad;
    }
  }
}
